<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>


    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
    
    <script src="https://kit.fontawesome.com/748b6ff25d.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar">
        <div>  
            <div class="hamburger">
                <i class="fa-solid fa-bars icon"></i>
            </div>
            <ul class="navbar-items">
                <li class="dropdown">
                    <a onclick="guardarYCambiarPagina('all')">Tienda</a>
                    <ul class="submenu">
                        <li><a onclick="guardarYCambiarPagina('all')">Todo</a></li>
                        <li><a onclick="guardarYCambiarPagina('platos')">Platos</a></li>
                        <li><a onclick="guardarYCambiarPagina('tazas')">Tazas</a></li>
                        <li><a onclick="guardarYCambiarPagina('jarrones')">Jarrones</a></li>
                        <li><a onclick="guardarYCambiarPagina('cuencos')">Cuencos</a></li>
                        <li><a onclick="guardarYCambiarPagina('portasahumerios')">Portasahumerios</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Colecciones</a>
                    <ul class="submenu">
                        <li><a onclick="guardarYCambiarPagina('torno')">Torno</a></li>
                        <li><a onclick="guardarYCambiarPagina('yoga')">Yoga</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../templates/contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="logo">
            <a href="../index.html"><img src="../images/ysc_taller.jpg" class="logo" alt=""></a>
        </div>
        <div class="nav-icon">
            <i id="boton-carrito" class="fa-solid fa-bag-shopping fa-xl icon"></i>
            <i class="fa-solid fa-magnifying-glass fa-xl icon"></i><a href="#"></a></i>
        </div>
    </nav>

    <div class="overlay">
        <div id="carrito-container" class="carrito-container">
            <div class="carrito-header">
                <h4>Carrito</h4>
                <button id="cerrar-carrito" class="button">X</button>
            </div>
            <div class="carrito-productos">

            </div>
            <div class="carrito-footer">
                <button class="button">Finalizar</button>
            </div>
        </div>
    </div>

    
    <main>
        <header>
            <h2 class="title-category">Piezas</h2>
        </header>

        <section id="product-container" class="product-container">

        </section>
    </main>

    <footer>
        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram fa-xl icon"></i></a>
        <h5>© YSC TALLER, 2024</h5>
    </footer>

    <script src="../js/script.js"></script>
</body>
</html>